<!-- index.html -->
<!-- Created by Kuan Lu -->
<!-- Build the fore end of web -->

<!DOCTYPE html>x
   <head>
      <title>License Plates Data </title>
      <link rel="stylesheet" href='/home/pi/PiWeb/Sensors_Database/WebServer/static/style.css'/>
   </head>

   <body>
		<h1> License Plates Data </h1>
		<hr>
		<!-- Show the time of speeding -->
		<h3> Time ==>  {{ time  }}:</h3>
		<hr>
		<!-- Show the license plate of speeding -->
		<h3> License Plate &nbsp; ==>  {{ license  }}</h3>
		<hr>
		<!-- Show the speed of speeding cars -->
		<h3> Speed (mile/h) ==>  {{ speed  }}:</h3>
		<hr>
		<!-- Updata the web -->
		<h3> Update Information: {{ latestTime }} ==> <a href="/"class="button">update</a></h3>
		<hr>
		<p> </p>

   </body>
</html>
